<% provide(:btn, 'Создать учебный блок') %>
<div class="page-header">
  <div class="ui breadcrumb">
    <%= link_to 'Все курсы', courses_path(@group.course) %>
    <div class="divider"> / </div>
    <%= link_to @group.course.name, show_course_index_path(@group.course, resource: 2) %>
    <div class="divider"> / </div>
    <%= link_to @group.name, show_group_index_path(@group, resource: 3) %>
    <div class="divider"> / </div>
    <div class="active section">Создание учебного блока</div>
    <div class="divider"> / </div>
  </div>
  <h5 class="text-center">Создание учебного блока</h5>
</div>
<%= render 'study_unit_form' %>