<div class="ui modal" id="dayclick_modal">
  <div class="ui pointing secondary menu" style="margin-top: 10px;">
    <a class="item active" data-tab="period">Создание события</a>
  </div>

  <div class="ui bottom attached active tab segment" data-tab="period">
    <%= render template: 'calendar/new_period_from_calendar' %>
  </div>

</div>

<div id="period-popup"></div>