    <div class="calendar_borders_for_student">
      <div id='calendar'>
        <%= render 'creating_event_period_form' %>
      </div>
    </div>
    <!--<div class="calendar_borders">-->
      <!--<div id='calendar'>-->
        <!--<%= render 'creating_event_period_form' %>-->
      <!--</div>-->
    <!--</div>-->
