<% provide(:create, 'Редактировать рассылку') %>
<% provide(:resend, 'Переотправить рассылку') %>
<div class="page-header">
  <div class="ui breadcrumb">
    <%= link_to 'Рассылки', sms_deliveries_url(resource_id: 1) %>
    <div class="divider"> / </div>
    <div class="active section">Редактирование рассылки</div>
    <div class="divider"> / </div>
  </div>
  <h5 class="text-center">
    Редактирование рассылки
  </h5>
</div>
<%= render 'sms_deliveries/sms_form' %>