<% if params[:action] == 'new' %>
    <% provide(:create, 'Создать рассылку') %>
<% else %>
    <% provide(:create, 'Переотправить') %>
<% end %>

<div class="page-header">
  <div class="ui breadcrumb">
    <%= link_to 'Рассылки', sms_deliveries_url(resource_id: 1) %>
    <div class="divider"> / </div>
    <div class="active section">Создание рассылки</div>
    <div class="divider"> / </div>
  </div>
  <div class="course-wrapper">
    <h5 class="text-center">
      Создание рассылки
    </h5>
  </div>
</div>
<%= render 'sms_deliveries/sms_form' %>