<% provide(:create, 'Редактировать получателей') %>
<div class="page-header">
  <div class="ui breadcrumb">
    <%= link_to 'Получатели', sms_deliveries_url(resource_id: 2) %>
    <div class="divider"> / </div>
    <div class="active section">Редактирование получателя</div>
    <div class="divider"> / </div>
  </div>
  <div class="course-wrapper">
    <h5 class="text-center">
      Редактирование получателей
    </h5>
  </div>
</div>
<%= render 'contact_lists/contact_list_form' %>