<% provide(:btn, 'Создать группу') %>
<div class="page-header">
  <div class="ui breadcrumb">
    <%= link_to 'Все курсы', courses_path(@course) %>
    <div class="divider"> / </div>
    <%= link_to  @course.name, show_course_index_path(@course, resource: 2) %>
    <div class="divider"> / </div>
    <div class="active section">Создание группы</div>
    <div class="divider"> / </div>
  </div>
  <h5 class="text-center">Создание группы</h5>
</div>
<%= render 'groups/group_form' %>