<% provide(:submit_btn, 'Редактировать') %>
<div class="page-header">
  <div class="ui breadcrumb">
    <div class="section"><%= link_to 'Все курсы', root_path %></div>
    <div class="divider"> / </div>
    <div class="section"><%= link_to @user.groups[0].course.name ,show_course_index_path( @user.groups[0].course, resource: 2) %></div>
    <div class="divider"> / </div>
    <div class="section"><%= link_to  @user.groups[0].name ,show_group_index_path( @user.groups[0], resource: 1) %></div>
    <div class="divider"> / </div>
    <div class="active section">Редактирование пользователя</div>
    <div class="divider"> / </div>
  </div>
  <h5 class="text-center">Редактирование данных студента</h5>
</div>

<%= render 'users/user_form' %>