<% provide(:submit_btn, 'Редактировать') %>
<div class="page-header">
  <div class="ui breadcrumb">
    <div class="section"><%= link_to 'Все курсы', root_path %></div>
    <div class="divider"> / </div>
    <div class="active section">Редактирование пользователя</div>
    <div class="divider"> / </div>
  </div>
  <h5 class="text-center">Редактирование данных студента</h5>
</div>

<%= render 'users/user_form' %>