<% provide(:submit_btn, 'Редактировать') %>
<div class="page-header">
  <div class="ui breadcrumb">
    <div class="section"><%= link_to 'Все курсы', root_path %></div>
    <div class="divider"> / </div>
    <% unless session[:referer] == root_url(resource_id: 2) %>
        <% group =  Group.find(@selected_group) %>
        <div class="section"><%= link_to group.course.name ,show_course_index_path(group.course, resource: 2) %></div>
        <div class="divider"> / </div>
        <div class="section"><%= link_to group.name ,show_group_index_path(group, resource: 1) %></div>
        <div class="divider"> / </div>
    <% end %>
    <div class="active section">Редактирование пользователя</div>
    <div class="divider"> / </div>
  </div>
  <h5 class="text-center">Редактирование данных студента</h5>
</div>

<%= render 'users/user_form' %>