<div class="page-header">
  <div class="ui breadcrumb">
    <div class="active section">Все курсы</div>
    <div class="divider"> / </div>
  </div>
  <div class="course-wrapper">
    <h5 class="text-center">Управление</h5>
  </div>
</div>
<div class="row">
  <%= link_to new_user_path, class: 'btn btn-default', id: 'new-user' do %>
      <span class="fa fa-plus-circle"></span>
      Новый пользователь
  <% end %>
</div>
<br />
<%= render 'users/user_table'  %>