<div class="page-header">
  <div class="ui breadcrumb">
    <%= link_to 'Отправители', sms_deliveries_url(resource_id: 3) %>
    <div class="divider"> / </div>
    <%= link_to 'Список аккаунтов', sms_service_accounts_path %>
    <div class="divider"> / </div>
    <div class="active section">Добавление логина </div>
    <div class="divider"> / </div>
  </div>
  <div class="course-wrapper">
    <h5 class="text-center">Добавление логина </h5>
  </div>
</div>
<%= render 'sms_service_accounts/account_form' %>