@media print {
  @page { size: auto;  margin-top: 15mm; }
  .ui.inverted.top.fixed.menu.main-menu{
    display: none;
    clear: both;
  }
  .page-header, .print{
    display: none;
  }
  .main-menu{
    display: none;
  }
  .ui.segment.no-border{
    //padding-top: 100px;
    border: none;
  }
}