.sms-login-form {
  width: 550px;
  margin: 0 auto;
}
.creation-btns {
  overflow: hidden;
  .new-sender{
    float: left;
  }
  .service-login {
    float: right;
  }
}
#contact-list-segment {
  input, label {
    cursor: pointer;
  }
}